body {
    background-color: grey;
    /* background-image: url('https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}