body {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/23/14/41/forest-5855196_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}