body {
    background-image: url('https://cdn.pixabay.com/photo/2020/12/23/14/41/forest-5855196_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* @media screen and (max-width: 450px) {
    .chatContainer {
        height: 100%;
    }
} */

/* @media screen and (max-height: 825px) {
    .chatContainer {
        height: 100%;
    }
} */

/* @media screen and (max-width: 345px),
screen and (min-height: 640px) {
    .chatContainer{
        height: 100%;
    }
} */

/* @media screen and (max-width: 430px) {
    .chatContainer {
        height: 85%;
    }
} */